<div class="page">
  <div class="form">
    <div class="top">
      <span class="large-text">Add Category</span>
  
      <div class="total">
        <span class="xxl-text">February Total</span>
        <span class="xxl-text total-text">R4000</span>
      </div>
    </div>
    
    <div class="form-section">
      <ion-input class="large-text" placeholder="Category Name"></ion-input>
      <ion-input class="large-text" placeholder="Category Total"></ion-input>
      <ion-input class="large-text" placeholder="Initial Spend"></ion-input>
    </div>

    <div class="footer">
      <app-shared-form-button>Submit</app-shared-form-button>
    </div>
  </div>
</div>