@import '../../../theme/variables.scss';

ion-button {
    --background: var(--button-primary);
    --color: white;
    --border-radius: 12px;
    width: 116px;
    @include normal-button;
    min-height: 36px;
    height: 36px;
}