<div class="page">
  <div class="login">
    <h1>
        {{signUp ? "Sign up" : "Login"}}
    </h1>

    <div class="form">
      <div class="username">
        <ion-input placeholder="Username or Email"></ion-input>
      </div>
      <div class="password">
        <ion-input placeholder="Password"></ion-input>
      </div>
    </div>

    <div class="sign-up">
      <span class="no-account">
        {{!signUp ? "Already have an account?" : "Don't have an account?"}}
        <p class="link" (click)="signUpPage()">
          {{!signUp ? "Sign up" : "Sign in"}}
        </p>
      </span>
      <span class="link" *ngIf="!signUp">Forgot Password?</span>
    </div>

    <div class="sign-in">
      <app-shared-form-button>
        {{signUp ? "Sign up" : "Login"}}
      </app-shared-form-button>
    </div>

    <div class="footer">
      <span>Sign in options:</span>
      <div class="buttons">
        <ion-button shape="round">
          <ion-icon slot="icon-only" src="assets/icons/google.svg"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon slot="icon-only" src="assets/icons/facebook-f.svg"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon slot="icon-only" src="assets/icons/microsoft.svg"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</div>