<div #drawer class="drawer">
  <!-- TODO: Add Functionality for Drawer Handle -->
  <div (click)="moveDrawer()" class="drawer-handle"></div>
  <ion-button class="edit-button">
    <ion-icon src="assets/icons/pen-solid.svg"></ion-icon>
    Edit
  </ion-button>

  <div class="drawer-content">
    <div class="drawer-header">
      <h3>Categories</h3>
  
      <div class="buttons">
        <ion-button>
          <ion-icon src="assets/icons/arrow-down-short-wide-solid.svg"></ion-icon>
          Sort
        </ion-button>
  
        <ion-button>
          <ion-icon src="assets/icons/circle-plus-solid.svg"></ion-icon>
          Add Category
        </ion-button>
      </div>
    </div>

    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>