.drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 22px 22px 0 0;
    position: absolute;
    top: 32%;
}

.drawer-handle {
    flex-shrink: 1;
    width: 60px;
    height: 8px;
    background-color: black;
    border-radius: 22px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.edit-button {
    top: 20px;
    right: 20px;
    position: absolute;
    color: black;
}

.drawer-content {
    h3 {
        margin: 0 0 18px 0;
        color: black;
    }

    display: flex;
    flex-direction: column;
    margin: 20px 36px 0 22px;
}

.drawer-header {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}